/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Notes:
	Scale:
Base 22px
/* Modular scale: 3:4 at 20px
63.147px 3.157em h1
47.372px 2.369em h2
35.538px 1.777em h3
26.660px 1.333em h4, h5, h6
20.000px 1.000em p, li
15.004px 0.750em figcaption

	Palette:
Header    : #???
Reading   : #???
Light read: #???
Background: #???
Accent BG : #???
Error BG  : #???
Tile BG   : #???
*/

/* Semantic structure tags */
html {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
}

main {
}

article {
}

section {
}

ul, ol {
}

ul {
}

ol {
}

form {
}

figure {
}

/* Display tags */
h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
  font-size: 2em; /* 32 / 16 */
  line-height: 1.5em; /* 48 / 32 */
  background-color: #F00; /* Debug color */
}

h2 {
  font-size: 1.75em; /* 28 / 16 */
  line-height: 1.42857em; /* 40 / 28 */
  background-color: #0F0; /* Debug color */
}

h3 {
  font-size: 1.4375em; /* 23 / 16 */
  line-height: 1.04348em; /* 24 / 23 */
  background-color: #00F; /* Debug color */
}

h4, h5, h6 {
  font-size: 1.1875em; /* 19 / 16 */
  line-height: 1.26316em; /* 24 / 19 */
  background-color: #FF0; /* Debug color */
}

li {
}

input {
}

img {
}

/* Specific cases */
form ol,
form ul {
}

/* Responsive cases */
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1500px) {
}
