/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Notes:
	Scale:
Base 16px
Minor third
~32px h1
~28px h2
~23px h3
~19px h4, h5, h6
~16px p and most other things
~13px figcaption

	Palette:
Header    : #???
Reading   : #CBF
Light read: #???
Background: #120
Accent BG : #241
Error BG  : #???
Tile BG   : #???
*/

/* Semantic structure tags */
html { /* stylelint-disable-line no-duplicate-selectors */
  font-size: 1em; /* 16 / 16 */
  font-family: "PT Sans", sans-serif;
  line-height: 1.5em; /* 24 / 16 */
  color: #CBF;
  background-color: black;
  background-image: url("images/bgimage-1440x2560-9x16-portrait.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

main {
  width: 100%;
  max-width: 94%;
  margin: 0 auto;
}

section {
  background: rgba(32, 64, 16, 0.6);
  padding: 0.75em;
  margin-bottom: 0.75em;
}

/* Display tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #C93;
}

h1 {
  font-size: 2em; /* 32 / 16 */
  line-height: 1.5em; /* 48 / 32 */
}

h2 {
  font-size: 1.75em; /* 28 / 16 */
  line-height: 1.42857em; /* 40 / 28 */
}

h3 {
  font-size: 1.4375em; /* 23 / 16 */
  line-height: 1.04348em; /* 24 / 23 */
}

h4, h5, h6 {
  font-size: 1.1875em; /* 19 / 16 */
  line-height: 1.26316em; /* 24 / 19 */
}

figcaption {
  font-size: 0.8125em; /* 13 / 16 */
  line-height: 1.230769em; /* 16 / 13 */
}

/* Specific cases */

/* Header Styles */
header {
  width: 94%;
  margin: 0 auto;
}
header * {
  display: inline;
  height: 3em;
}
#site-link {
  text-decoration: none;
}

/* Footer Styles */
footer {
  text-align: center;
  width: 100%;
  height: 4.5em; /* 72px/16 = 4.5 */
  bottom: 0;
}
#scroll-footer {
  position: relative;
}
#no-scroll-footer {
  position: absolute;
}

/* Navigation Styles */
#navigation {
  display: block;
  width: 100%;
  background-color: none; /* Add background color */
  height: 2.75em; /* 44/16 = 2.75 */
}
#navigation ul {
  display: inherit;
  height: inherit;
}
#navigation li {
  float: left;
  height: inherit;
  width: 33.333%;
}
#navigation a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  height: 1.5em; /* 24 / 16 */
  padding-top: 0.625em; /* 10 / 16 = 0.625 */
  padding-bottom: 0.625em; /* 10 / 16 = 0.625 */
}
#navigation a:hover {
  background-color: #C93;
}


#search-form ul {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding: 0;
  border: 1px;
  border-style: solid;
  border-color: white;
}
#search-input {
  width: 80%;
  float: left;
  padding: inherit;
  border: inherit;
  margin: inherit;
  height: 44px;
  padding-left: 16px;
  background: inherit;
  color: white;
}
#submit {
  display: block;
  width: 20% - 16px;
  float: left;
  padding: inherit;
  border: inherit;
  margin: inherit;
  height: 44px;
  background: inherit;
  color: white;
}

/* Responsive cases */
@media screen and (min-width: 22.25em) { /* 356/16 = 22.25 */
  footer {
    height: 3em;
  }
}

@media screen and (orientation: landscape) { /* Not widely supported */
  html {
    background-image: url("images/bgimage-4272x2403-16x9.jpg");
  }
  #no-scroll-footer {
    position: relative;
  }
}
